---
- debug:
    msg: dolibarr is installing now

#引入PHP运行环境元数据，并初始化
- include_vars: roles/role_php/vars/php_runtime_meta.yml

#Modify var for this playbook
- set_fact:
    dolibarr_vhost_dir: "{{php_runtime_meta[ansible_os_family][phpapps_webs].vhost_dir}}"
    dolibarr_vhost_src: "{{php_runtime_meta[ansible_os_family][phpapps_webs].vhost_src}}"
    dolibarr_service: "{{php_runtime_meta[ansible_os_family][phpapps_webs].service}}"
    dolibarr_owner: "{{php_runtime_meta[ansible_os_family][phpapps_webs].owner}}"
    dolibarr_name: "{{phpapps_name}}"
    dolibarr_title: "{{phpapps_title}}"
    dolibarr_download_url: "https://github.com/Dolibarr/dolibarr/archive/refs/tags/13.0.3.zip"

- debug:
    msg: runtime {{ dolibarr_vhost_dir }}, {{dolibarr_vhost_src}}, {{dolibarr_service}}, {{dolibarr_owner}}, {{ansible_distribution}}

# dolibarr
- name: Remove extra dir
  shell: rm -rf /data/wwwroot/*{{dolibarr_name}}*
 
- name: Download dolibarr from {{ dolibarr_download_url }}
  unarchive:
    src: "{{ dolibarr_download_url }}"
    dest: /data/wwwroot
    remote_src: yes

- name: Rename dir name
  shell: cd /data/wwwroot; if [ ! -d "{{dolibarr_name}}" ]; then mv *{{dolibarr_name}}* {{dolibarr_name}}; fi

- name: Copy Apache or Nginx vhost configuration
  template: src={{dolibarr_vhost_src}} dest={{dolibarr_vhost_dir}}

# 原role中包含此步骤，待验证
# - name: Change database Unicode
#   shell: mysql -uroot -p123456 -e "ALTER DATABASE \`dolibarr\` CHARACTER SET utf8; "
